.new-features-wrapper {
  @apply mb-4 rounded-md border-2 border-red-500 bg-[#fee2e222] px-4 py-2;
}
/* different color for dark mode */
@media (prefers-color-scheme: dark) {
  .obsidian {
    color: #059669;
  }
  .obsidian:hover {
    color: #6ee7b7;
  }
}

.obsidian:link {
  text-decoration: none;
}
.obsidian:visited {
  text-decoration: none;
}
.obsidian:hover {
  color: #a0e2c0;
}
.obsidian:active {
  text-decoration: none;
}
