/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
}

body {
  @apply selection:bg-red-500 selection:text-white;
}

html {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  /* remove the blue highlight on mobile: */
  -webkit-tap-highlight-color: transparent;
}

.header {
  @apply mb-2 text-center text-4xl font-bold;
}

.results-list {
  @apply list-none;
}

.result-item {
  @apply mb-4;
}

.result-subitem {
  @apply ml-4;
}

.result-double-subitem {
  @apply ml-4 border-l-2 border-red-300 pl-2 dark:border-red-400;
}

.result-title {
  @apply text-xl;
}

.result-title-description {
  @apply italic text-gray-700 dark:text-gray-400;
}

.result-subtitle {
  @apply text-lg font-semibold;
}

.result-description {
  @apply text-base;
}

.result-quote {
  @apply ml-4 list-none italic text-gray-700 dark:text-gray-400;
}

.result-section {
  @apply pb-4 pl-4 pr-4;
}

.results-container {
  @apply mx-4 mt-4 max-w-7xl sm:mx-8 md:mx-16 lg:mx-32 xl:mx-48;
}

.error-message {
  @apply relative my-4 max-w-xs rounded-md border border-red-400 bg-red-100 px-4 py-3 text-red-700 dark:bg-red-900 dark:text-red-300;
}

li {
  @apply list-none;
}

body {
  @apply p-4;
}

select {
  @apply w-full max-w-md rounded-md bg-gray-100 p-2 text-gray-700 outline outline-gray-300 focus:outline-none focus:ring focus:ring-red-500 dark:bg-black dark:text-gray-300 dark:outline-gray-700 sm:w-11/12 md:w-5/6 lg:w-3/4 xl:w-2/3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  border-radius: 5px;
  padding: 0 0.1rem;
  line-height: 1.4rem;
  text-decoration: none;
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
  @apply text-red-600 dark:text-red-400;
  @apply bg-red-100 dark:bg-red-950;
}
